body { background-color: cream}
page {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 0.5cm black
}

@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}
