<html>
<head>
  <title>Consulta Dominio</title>
  <meta charset="utf-8">
  {% load static %}
  <link rel="shortcut icon" type="image/ico" href="{% static "favicon.ico" %}">
  <link rel="stylesheet" type="text/css" href="{% static "index.css" %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="{% static "index.js" %}"></script>
</head>
<body><center><br>

{% if not dominio %}

{% endif %}
<!--  BARRA DE PESQUISA  -->
<div class=tabela>
  <p class=dominio_title>Consulta Domínio</p>
  <form action="{% url 'dominio:index' %}" method=post accept-charset="utf-8">
    {% csrf_token %}
    <input type=text name=dominio class=searchbox placeholder="Domínio FQDN" value="{{dominio}}" required>
    <input type=submit value="Consultar" class="botao">
    <select name=nserver class="botao">
        <!--<option value="8.8.8.8">Google DNS A</option>
        <option value="8.8.4.4">Google DNS B</option>
        <option value="200.98.199.199">ns1.dominios.uol.com.br</option>
        <option value="200.221.65.6">ns2.dominios.uol.com.br</option>
        <option value="4.2.2.1">4.2.2.1 (Level3)</option>
        <option value="4.2.2.2">4.2.2.2 (Level3)</option>
        <option value="208.67.222.222">208.67.222.222 (Level3)</option>
        <option value="4.2.2.2">208.67.220.220 (Level3)</option>-->
        <option value="8.8.8.8">DNS Externo</option>
        <option value="200.98.199.199">DNS Interno</option>
        <option value="">DNS Local</option>
    </select>
  </form>
</div><br>

{% if dominio %}

<!--  DNS  -->
<table class=tabela>
  <th>DNS<th class=sinal>-</button></th>
    {% if whois.nameserver %}
      {% for ns in whois.nameserver %}
          <tr><td class=lowercase>{{ ns }}</td></tr>
      {% endfor %}
    {% else %}
          <tr><td class=noresult>Não foram encontrados DNS</td></tr>
    {% endif %}
</table><br>


<!--  ENDEREÇOS  -->
<table class=tabela>
  <th>Endereços<th class=sinal>-</th></th>
    {% if enderecos.www or enderecos.ftp or enderecos.server %}
      {% for server in enderecos.server %}
          <tr><td>{{ dominio }}&nbsp&nbsp&#10140&nbsp&nbsp{{ server.ip }}&nbsp&nbsp {{ server.ptr }}</td></tr>
      {% endfor %}

      {% for www in enderecos.www %}
          <tr><td>www.{{ dominio }}&nbsp&nbsp&#10140&nbsp&nbsp{{ www.ip }}&nbsp&nbsp {{ www.ptr }}</td></tr>
      {% endfor %}

      {% for x in enderecos.ftp %}
          <tr><td>ftp.{{ dominio }}&nbsp&nbsp&#10140&nbsp&nbsp{{ x }}</td></tr>
      {% endfor %}
</table><br>

<!--  TEMPO DE RESPOSTA  -->
<table class=tabela>
  <th>Tempo de Resposta<th class=sinal>-</th></th>
  <tr><td>
      <div id="site_info"></div>
        <center>
        <button class=botao_pequeno id="tresposta" site="{{ dominio }}">Obter Informações</button>
        <a href="http://{{ dominio }}" target="_blank">
        <button class=botao_pequeno id="acessar_site" style="display: none" target="_blank">
        Acessar Site
        </button>
        </a>
        </center>
  </td></tr>
  {% else %}
        <tr><td class=noresult>Não foram encontrados endereços</td></tr>
  {% endif %}
</table><br>

<!--  INFORMAÇÕES SOA  -->
<table class=tabela>
  <th>SOA<th class=sinal>-</th></th>
    {% if enderecos.soa %}
      {% for soa in enderecos.soa %}
        <tr><td>{{ soa }}</td></tr>
      {% endfor %}
    {% else %}
        <tr><td class=noresult>Não foram encontrados SOA</td></tr>
    {% endif %}
</table><br>

<!--  SERVIDORES DE EMAIL  -->
<table class=tabela>
  <th>Servidores de E-mail<th class=sinal>-</th></th>
    {% if enderecos.mail %}
      {% for mx in enderecos.mail %}
        <tr><td>{{ mx }}</td></tr>
      {% endfor %}
    {% else %}
      <tr><td class=noresult>Não foram encontrados registros de E-mail (MX)</td></tr>
    {% endif %}
</table><br>

<table class=tabela>
  <th>SPF (Sender Policy Framework)<th class=sinal>-</th></th>
    {% if enderecos.spf %}
      {% for spf in enderecos.spf %}
        <tr><td>{{ spf }}</td></tr>
      {% endfor %}
    {% else %}
      <tr><td class=noresult>Não foram encontrados registros de SPF</td></tr>
    {% endif %}
</table><br>

<!--  INFORMAÇÕES DOMINIO  -->
<table class=tabela>
  <th>Informações do Dominio<th class=sinal>-</th></th>
    {% if whois.status or whois.expiration_date or expiration.owner %}
      {% for date in whois.expiration_date %}<tr><td><b>{{ date }}</b></td></tr>{% endfor %}
      {% for status in whois.status %}<tr><td><b>{{ status }}</b></td></tr>{% endfor %}
      {% for owner in whois.owner %}<tr><td>{{ owner }}</td></tr>{% endfor %}
    {% else %}
        <tr><td class=noresult>Não foram encontradas informações sobre registro do domínio.</td></tr>
    {% endif %}
</table><br>
{% endif %}

</center>
</body>
</html>
