.botao {
  border-style: none;
  background-color: #428bca;
  color: white ;
  height: 30px;
  border-radius: 5px;
}
.botao_pequeno {
  border-style: none;
  background-color: #428bca;
  color: white;
  #height: 20px;
  border-radius: 5px;
  #font-size: 12px;
}
.searchbox {
  height: 30px;
  border-radius: 5px;
  border: 1px;
  border-style: solid;
  border-color: #428bca;
  width: 300px;
}
.quadro{
  border: 3px;
  border-radius: 5px;
  border-style: solid;
  border-color: #428bca;
  border-spacing: 5px;
  width: 750px;
}
.quadro_tempo{
  border: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: #428bca;
  border-spacing: 5px;
  display: none;
  margin-left: 10px;
}
.tabela{
  border-radius: 5px;
  border: 1px;
  border-style: solid;
  border-color: #428bca;
  border-spacing: 0px;
  width: 750px;
  font-family: "helvetica nue", "helvetica", "sans-serif";
  font-size: 14px;
  box-shadow: 2px 2px 5px black
}
.tabela th{
  background-color: #428bca;
  color: white;
  height: 22px;
  font-family: arial;
  width: 98%;
}
.barrath{
  background-color: #428bca;
  color: white;
  height: 22px;
  font-family: arial;
  width: 98%;
}
.tabela td{
  padding: 2 10 2 10px;
}
.lowercase{
  text-transform: lowercase;
}
.sinal{
    text-align: left;
    font-size: 12px;
    cursor: pointer;
}
.dominio_title{
  font-family: "comic-sans-ms";
  font-size: 22px;
  color: #428bca;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}
.noresult{
  color: #FF6666;
  font-family: "helvetica nue", "helvetica", "sans-serif";
  font-style: italic;
}
.teste{
  display: block;
}
